/* Write your CSS here! */
body {
    margin: 8px;
    display: block;
    background: #e6e6e6;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

nav ul {
    margin: 16px 550px;
    width: 100%;
}
nav li {
    display: table-cell;
}

li a {
 display: block;
 text-align: center;
 padding: 30px 30px;
 font-size: 20px;
}

article {
    text-align: center;
    margin: 16px 0px;
    padding: 30px;
}

p {
    margin: 16px 0px;
    text-align: justify;
    text-justify: inter-word;
    font-size: 20px;
}
img {
    width: 500px;
    height: 350px;
    left: 500px;
}

figcaption {
    text-align: center;
}

footer {
    position: relative;
    width: 100%;
    bottom: -100%;
    background-color: brown;
    color: white;
    text-align: center;
}
#mainHeading {
    color: red
}

#testP {
 color:blue
}

.funParagraph {
    color: green
}